<app-navbar></app-navbar>
<div id="home"></div>
<div class="py-5">
    <div class="container">
        <div class="row">

            <!--===== Blog Posts =====-->
            <div id="blog-posts" class="col-lg-8">
                <div class="row">


                    <div class="col-12">
                        <div class="card">
                            <a href="#">
                                <img src="assets/blog/b-01.jpg" class="card-img-top img-blog" alt="" />
                            </a>
                            <div class="card-body p-4">
                                <ul class="card-subtitle text-muted clearfix">
                                    <li><i class="flaticon-avatar"></i>Mike smith</li>
                                    <li><i class="flaticon-clock"></i>December 25, 2019</li>
                                    <li><i class="flaticon-chat"></i>59</li>
                                </ul>
                                <a href="#">
                                    <h3 class="card-title mb-3">Consecter elit dui eiusmod didunt labore dolor</h3>
                                </a>
                                <p>
                                    Duis aute irure dolor reprehenderit in voluptate velit essl cillum dolore eud fugiat nulla pariatur. Excepteur sint ocaec atus cupdatat proident suntin culpa qui officia ...
                                </p>
                                <a href="single-post.html" class="blog-card-a">READ MORE <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <a href="#">
                                <img src="assets/blog/b-02.jpg" class="card-img-top img-blog" alt="" />
                            </a>
                            <div class="card-body p-4">
                                <ul class="card-subtitle text-muted clearfix">
                                    <li><i class="flaticon-avatar"></i>Mike smith</li>
                                    <li><i class="flaticon-clock"></i>December 25, 2019</li>
                                    <li><i class="flaticon-chat"></i>59</li>
                                </ul>
                                <a href="#">
                                    <h3 class="card-title mb-3">Better nature for better world</h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ...
                                </p>
                                <a href="single-post.html" class="blog-card-a">READ MORE <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <a href="#">
                                <img src="assets/blog/b-03.jpg" class="card-img-top img-blog" alt="" />
                            </a>
                            <div class="card-body p-4">
                                <ul class="card-subtitle text-muted clearfix">
                                    <li><i class="flaticon-avatar"></i>Mike smith</li>
                                    <li><i class="flaticon-clock"></i>December 25, 2019</li>
                                    <li><i class="flaticon-chat"></i>59</li>
                                </ul>
                                <a href="#">
                                    <h3 class="card-title mb-3">Better nature for better world</h3>
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ...
                                </p>
                                <a href="single-post.html" class="blog-card-a">READ MORE <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div id="pagination" aria-label="Page navigation example" class="mx-auto">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="flaticon-double-left-angle-arrows"></i></span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="flaticon-double-angle-arrow-pointing-to-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <!--===== Sidebar =====-->
            <aside id="sidebar" class="col-lg-4">

                <article id="recentNews" class="sidebar">
                    <h4 class="SinglePostHeders">Recent News</h4>
                    <ul>
                        <li>
                            <a href="#"><img src="assets/blog/b-03.jpg" alt=""><span>Improve Your Corporate Ideas
      Bigger</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/blog/b-02.jpg" alt=""><span>Take Action & Grow The
      Business Strength</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/blog/b-01.jpg" alt=""><span>Isolate Your Beliefs For Better
      Future </span>
                            </a>
                        </li>
                    </ul>
                </article>

                <article id="categories" class="sidebar">
                    <h4 class="SinglePostHeders">
                        Categories
                    </h4>
                    <ul>
                        <li><a href="#"><i class="fas fa-caret-right"></i>ThemeForest</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> HTML</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> WordPress</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Blog</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Envato</a></li>
                    </ul>
                </article>



            </aside>

        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-cont">

                <!-- Footer Contact -->
                <div class="col-lg-4  col-md-5 contact">
                    <img src="assets/other/logo_foter.png" alt="">
                    <ul>
                        <li><i class="flaticon-call"></i>
                            <span> Phone 100-245-4673</span>
                        </li>
                        <li><i class="flaticon-envelope"></i>
                            <span>Email business@exmplae.com</span>
                        </li>
                        <li><i class="flaticon-maps-and-flags"></i>
                            <span>Location Cambridge, MA 02142</span>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter mr-3 icon-twitter" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-facebook-f  mr-3 icon-facebook" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g mr-3 icon-google-plus" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in mr-3 icon-linkedin" style="color:gray"></i></a>
                        </li>
                    </ul>
                </div>

                <!-- Footer Link -->
                <div class="col-lg-4 col-md-5 link">
                    <h4>Core Link</h4>
                    <a href="#">Team Member</a>
                    <a href="#">Pricing Plan</a>
                    <a href="#">Google Map</a>
                    <a href="#">Apps store</a>
                </div>

                <div class="clearfix"></div>

                <!-- Copy Right -->
                <div class="col-lg-6 col-md-6 text-center mb-3">
                    <span class="copyright ">© 2018 All Rights Reserved</span>
                </div>

                <!-- Footer Svg -->
                <div class="footer-svg">
                </div>

            </div>
        </div>
    </div>
</footer>