<section id="call-to-action">
    <div class="container">
        <header class="section-header ">
            <h3>
                We know the primary objective of business, To grow more & make it profitable
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </header>
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg  px-5 m-auto button-outline">Read more</button>
        </div>
    </div>
</section>