<section class="page-section" id="contact-us">
    <div class="container">

        <!-- Section Header -->
        <header class="text-center section-header">
            <h3>
                Contact us
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </header>

        <!-- Contact Us -->
        <div class="row">

            <!-- MAP -->
            <div class="col-lg-4">
                <div id="map"></div>
            </div>

            <!-- Contact Form -->
            <div class="col-md-12 col-lg-8">
                <form class="form-row vw-form-row">
                    <div class="form-group vw-form-group col-md-6">
                        <div class="vw-input-icon">
                            <input type="text" class="form-control" placeholder="Your Name">
                            <span class="vw-input-icon-icon"><span><i
                                        class="flaticon-user main-color"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group vw-form-group col-md-6">
                        <div class="vw-input-icon">
                            <input type="text" class="form-control" placeholder="Cell Phone">
                            <span class="vw-input-icon-icon"><span><i
                                        class="flaticon-smartphone main-color"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group vw-form-group col-md-6">
                        <div class="vw-input-icon">
                            <input type="text" class="form-control" placeholder="Email Adress">
                            <span class="vw-input-icon-icon"><span><i
                                        class="flaticon-envelope-1 main-color"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group vw-form-group col-md-6">
                        <div class="vw-input-icon">
                            <input type="text" class="form-control" placeholder="Subject">
                            <span class="vw-input-icon-icon"><span><i
                                        class="flaticon-chat-bubble main-color"></i></span></span>
                        </div>
                    </div>
                    <div class="form-group vw-form-group col-md-12">
                        <div class="vw-input-icon">
                            <textarea class="form-control form-min-hieght" placeholder="Your message" rows="4"></textarea>
                            <span class="vw-input-icon-icon vw-input-icon-icon-textarea"><span><i
                                        class="flaticon-chat main-color"></i></span></span>
                        </div>
                    </div>
                    <div class="form-btn col-md-12">
                        <button class="btn btn-lg button-inline px-5">Send Message</button>
                    </div>
                </form>
            </div>

            <!-- Contacts Way -->
            <div class="row item">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.5s">
                    <div class="float-left contact-us-icon"><i class="flaticon-maps-and-flags flat-2x"></i></div>
                    <h4>Our Location</h4>
                    <div class="description">
                        <span>Location Cambridge, MA 02142</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.5s">
                    <div class="float-left contact-us-icon"><i class="flaticon-call flat-2x"></i></div>
                    <h4>Let's Talk</h4>
                    <p class="description">
                        <span>Phone: 100-245-4673</span>
                        <span>Fax: +2 9 1642 3328, 3328</span>
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.5s">
                    <div class="float-left contact-us-icon"><i class="flaticon-envelope flat-2x"></i></div>
                    <h4>E-mail Us</h4>
                    <p class="description">
                        <span>Support : info@company.com</span>
                        <span>Sales : info@example.com</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>