<section id="Main_services">
    <div class="container">

        <!-- Section Header -->
        <header class="section-header">
            <h3>Facilities We Provide</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </header>

        <!-- Cards -->
        <div class="row card-group ">
            <div class="col-md-4 col-lg-4 wow fadeInUp " data-wow-offset="150">
                <div class="card card-transform mb-5">
                    <div class="cards-hover"></div>
                    <div class="cards-nothover text-center">
                        <span class="flaticon-domain card-img-top text-center"></span>
                        <div class="card-body text-center p-4">
                            <h3 class="card-title mb-3">Advanced Business Solutions</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem incididunt ut labore et dolore
                            </p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 wow fadeInUp " data-wow-offset="150" data-wow-delay="0.15s">
                <div class="card card-transform mb-5">
                    <div class="cards-hover"></div>
                    <div class="cards-nothover text-center">
                        <span class="flaticon-print card-img-top text-center"></span>
                        <div class="card-body text-center p-4">
                            <h3 class="card-title mb-3">Increase Your Online Presence</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem incididunt ut labore et dolore
                            </p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 wow fadeInUp " data-wow-offset="150" data-wow-delay="0.3s">
                <div class="card card-transform mb-5">
                    <div class="cards-hover"></div>
                    <div class="cards-nothover text-center">
                        <span class="flaticon-event card-img-top text-center"></span>
                        <div class="card-body text-center p-4">
                            <h3 class="card-title mb-3">Become Successful & Superior</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem incididunt ut labore et dolore
                            </p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>