<header class="header" id="home">

    <!-- Top Header -->
    <div class="top-header clearfix">
        <ul class="d-flex justify-content-center">
            <li><i class="flaticon-call"></i>
                <span>Phone 100-245-4673</span>
            </li>
            <li><i class="flaticon-envelope"></i>
                <span>Email business@exmplae.com</span>
            </li>
            <li><i class="flaticon-maps-and-flags"></i>
                <span>Location Cambridge, MA 02142</span>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter  mr-3 icon-twitter" style="color:gray"></i></a>
                <a href="#"><i class="fab fa-facebook-f  mr-3 icon-facebook" style="color:gray"></i></a>
                <a href="#"><i class="fab fa-google-plus-g  mr-3 icon-google-plus" style="color:gray"></i></a>
                <a href="#"><i class="fab fa-linkedin-in mr-3 icon-linkedin" style="color:gray"></i></a>
            </li>
        </ul>
    </div>

    <!-- Navbar -->
    <div id="navbar" class="flex-row">
        <div class="container">
            <div>
                <!-- Toggler -->
                <div id="toggler">
                    <i class="fas fa-bars"></i>
                </div>

                <!-- Logo -->
                <a class="logo" href="#"><img src="assets/other/logo.png" alt=""></a>

                <!-- Nav -->
                <nav id="nav" class="vw-nav-menu vw-nav-menu_one">
                    <ul class="list-unstyled ">
                        <li><a class="vw-nav-link" routerLink="">Home</a></li>
                        <li><a class="vw-nav-link" href="#about">About</a></li>
                        <li><a class="vw-nav-link" href="#services">Services</a></li>
                        <li><a class="vw-nav-link" href="#portfolio">Portfolio</a></li>
                        <li><a class="vw-nav-link" href="#team">Team</a></li>
                        <li><a class="vw-nav-link" routerLink="/blogs">Blog</a></li>
                        <li><a class="vw-nav-link" href="#contact-us">Contact us</a></li>
                    </ul>
                </nav>

                <!-- Search -->
                <div id="search-box">
                    <a href="#search">
                        <i class="flaticon-search"></i>
                    </a>
                    <div id="search">
                        <span class="close"></span>
                        <form role="search" id="searchform">
                            <input class="form-control" type="search" placeholder="Search..." />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>

<div class="clearfix"></div>