<section class="page-section" id="portfolio">
    <div class="container clearfix">

        <!-- Section Header -->
        <header class="section-header">
            <h3>portfolio</h3>
        </header>

        <!-- Portfolio Filters -->
        <ul id="portfolio-filter">
            <li class="filter-active" data-filter="*">ALL WORKS</li>
            <li data-filter=".MARKETING">MARKETING</li>
            <li data-filter=".FINANCE">FINANCE</li>
            <li data-filter=".ACCOUNTING">ACCOUNTING</li>
            <li data-filter=".PARTNERS">PARTNERS</li>
        </ul>

        <!-- Portfolio -->
        <div class="row text-center grid" id="portfolio-container">
            <div class="col-lg-4 col-md-6 mt-4 wow fadeInUp MARKETING" data-wow-offset="50">
                <div class="card shadow-sm mb-4">
                    <div class="position-relative">
                        <img src="assets/portfolio/portfolio-1.jpg" alt="" class="card-img-top" />
                        <div class="card-img-overlay">
                            <a href="#">
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="assets/portfolio/portfolio-1.jpg" data-lightbox="portfolio" data-title="p-1">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow fadeInUp MARKETING" data-wow-offset="50" data-wow-delay="0.1s">
                <div class="card shadow-sm mb-4">
                    <div class="position-relative">
                        <img src="assets/portfolio/portfolio-2.jpg" alt="" class="card-img-top" />
                        <div class="card-img-overlay">
                            <a href="#">
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="assets/portfolio/portfolio-2.jpg" data-lightbox="portfolio" data-title="p-2">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow fadeInUp FINANCE" data-wow-offset="50" data-wow-delay="0.2s">
                <div class="card shadow-sm mb-4">
                    <div class="position-relative">
                        <img src="assets/portfolio/portfolio-3.jpg" alt="" class="card-img-top" />
                        <div class="card-img-overlay">
                            <a href="#">
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="assets/portfolio/portfolio-3.jpg" data-lightbox="portfolio" data-title="p-3">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow fadeInUp ACCOUNTING" data-wow-offset="50">
                <div class="card shadow-sm mb-4">
                    <div class="position-relative">
                        <img src="assets/portfolio/portfolio-4.jpg" alt="" class="card-img-top" />
                        <div class="card-img-overlay">
                            <a href="#">
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="assets/portfolio/portfolio-4.jpg" data-lightbox="portfolio" data-title="p-4">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow fadeInUp ACCOUNTING" data-wow-offset="50" data-wow-delay="0.1s">
                <div class="card shadow-sm mb-4">
                    <div class="position-relative">
                        <img src="assets/portfolio/portfolio-5.jpg" alt="" class="card-img-top" />
                        <div class="card-img-overlay">
                            <a href="#">
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="assets/portfolio/portfolio-5.jpg" data-lightbox="portfolio" data-title="p-5">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 wow fadeInUp PARTNERS" data-wow-offset="50" data-wow-delay="0.2s">
                <div class="card shadow-sm mb-4">
                    <div class="position-relative">
                        <img src="assets/portfolio/portfolio-6.jpg" alt="" class="card-img-top" />
                        <div class="card-img-overlay">
                            <a href="#">
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="assets/portfolio/portfolio-6.jpg" data-lightbox="portfolio" data-title="p-6">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>