<section id="clients">
    <div class="container zoomIn wow" data-wow-duration="1.2s" data-wow-offset="120">
        <div class="owl-carousel owl-theme owl-drag">
            <div class=" text-center">
                <img src="assets/clients/client-1.jpg" alt="" class="rounded-circle">
                <h5>Amanda Richards</h5>
                <span>Web Designer</span>
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
            </div>
            <div class="text-center">
                <img src="assets/clients/client-2.jpg" alt="" class="rounded-circle">
                <h5>Morrin Jhonson</h5>
                <span>Web Designer</span>
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
            </div>
            <div class=" text-center">
                <img src="assets/clients/client-3.jpg" alt="" class="rounded-circle">
                <h5>Emma Watson</h5>
                <span>Web Designer</span>
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
            </div>
        </div>
    </div>
</section>