<app-navbar></app-navbar>
<div class="py-5">
    <div class="container">
        <div class="row">

            <!--===== Blog Post =====-->
            <div id="blog-posts" class="col-lg-8">
                <div class="row">

                    <!-- post -->
                    <main class="single-blog">
                        <div class="col-12">
                            <div class="card mb-5">
                                <img src="assets/blog/b-01.jpg" class="card-img-top img-blog" alt="" />
                                <div class="card-body p-4">
                                    <ul class="card-subtitle text-muted clearfix">
                                        <li><i class="flaticon-avatar"></i>Mike smith</li>
                                        <li><i class="flaticon-clock"></i>December 25, 2019</li>
                                        <li><i class="flaticon-chat"></i>59</li>
                                    </ul>
                                    <h3 class="card-title mb-3">Consecter elit dui eiusmod didunt labore dolor</h3>
                                    <p>
                                        Duis aute irure dolor reprehenderit in voluptate velit essl cillum dolore eud fugiat nulla pariatur. Excepteur sint ocaec atus cupdatat proident suntin culpa qui officia deserunt mol anim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor.
                                    </p>
                                    <p class="quotation">
                                        Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien faucibus et molestie ac feugiat sed. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Amet mattis vulputate
                                        enim nulla aliquet porttitor lacus luctus accumsan. Sed faucibus turpis in eu mi bibendum neque egestas congue. Libero id faucibus nisl tincidunt eget nullam non nisi. Placerat in egestas erat imperdiet sed euismod
                                        nisi. Quam nulla porttitor massa id neque aliquam vestibulum. Nunc sed velit dignissim sodales. Elementum sagittis vitae et leo duis ut diam quam. Ut sem nulla pharetra diam sit amet nisl suscipit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- Comments -->
                    <div id="comments" class="col-12">
                        <div class="SinglePostElements">
                            <h4 class="SinglePostHeders">
                                Comments
                            </h4>
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb"><img src="assets/clients/client-2.jpg" alt=""></div>
                                    <div class="comment-inner clearfix">
                                        <div class="comment-info clearfix"><strong>Morrin Jhonson</strong>
                                            <div class="comment-time"><i>September 28, 2018 at 10:05 PM</i></div>
                                        </div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                        <a class="comment-reply" href="#"> Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box comment-box_tow">
                                <div class="comment">
                                    <div class="author-thumb"><img src="assets/clients/client-3.jpg" alt=""></div>
                                    <div class="comment-inner clearfix">
                                        <div class="comment-info clearfix"><strong>Amanda Richards</strong>
                                            <div class="comment-time"><i>September 28, 2018 at 10:05 PM</i></div>
                                        </div>
                                        <div class="text">maecenas accumsan lacus vel facilisis volutpat est velit egestas dui.</div>
                                        <a class="comment-reply" href="#"> Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb"><img src="assets/clients/client-1.jpg" alt=""></div>
                                    <div class="comment-inner clearfix">
                                        <div class="comment-info clearfix"><strong>Emma Watson</strong>
                                            <div class="comment-time"><i>September 28, 2018 at 10:05 PM</i></div>
                                        </div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat.</div>
                                        <a class="comment-reply" href="#"> Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comments Form -->
                    <div id="comments-form" class="col-12">
                        <div class="SinglePostElements">
                            <h4 class="SinglePostHeders">
                                Leave a comment
                            </h4>
                            <form class="form-row vw-form-row">
                                <div class="form-group vw-form-group col-md-6">
                                    <div class="vw-input-icon">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                        <span class="vw-input-icon-icon"><span><i class="flaticon-user main-color"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-group vw-form-group col-md-6">
                                    <div class="vw-input-icon">
                                        <input type="text" class="form-control" placeholder="Email Adress">
                                        <span class="vw-input-icon-icon"><span><i class="flaticon-envelope-1 main-color"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-group vw-form-group col-md-12">
                                    <div class="vw-input-icon">
                                        <textarea class="form-control form-min-hieght" placeholder="Your message" rows="4"></textarea>
                                        <span class="vw-input-icon-icon vw-input-icon-icon-textarea"><span><i class="flaticon-chat main-color"></i></span></span>
                                    </div>
                                </div>
                                <div class="form-btn col-md-12">
                                    <button class="btn btn-lg button-inline px-5">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>




                </div>
            </div>

            <!--===== Sidebar =====-->
            <aside id="sidebar" class="col-lg-4">

                <article id="recentNews" class="sidebar">
                    <h4 class="SinglePostHeders">Recent News</h4>
                    <ul>
                        <li>
                            <a href="#"><img src="assets/blog/b-03.jpg" alt=""><span>Improve Your Corporate Ideas
            Bigger</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/blog/b-02.jpg" alt=""><span>Take Action & Grow The
            Business Strength</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/blog/b-01.jpg" alt=""><span>Isolate Your Beliefs For Better
            Future </span>
                            </a>
                        </li>
                    </ul>
                </article>

                <article id="categories" class="sidebar">
                    <h4 class="SinglePostHeders">
                        Categories
                    </h4>
                    <ul>
                        <li><a href="#"><i class="fas fa-caret-right"></i>ThemeForest</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> HTML</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> WordPress</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Blog</a></li>
                        <li><a href="#"><i class="fas fa-caret-right"></i> Envato</a></li>
                    </ul>
                </article>

            </aside>

        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-cont">

                <!-- Footer Contact -->
                <div class="col-lg-4  col-md-5 contact">
                    <img src="assets/other/logo_foter.png" alt="">
                    <ul>
                        <li><i class="flaticon-call"></i>
                            <span> Phone 100-245-4673</span>
                        </li>
                        <li><i class="flaticon-envelope"></i>
                            <span>Email business@exmplae.com</span>
                        </li>
                        <li><i class="flaticon-maps-and-flags"></i>
                            <span>Location Cambridge, MA 02142</span>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter mr-3 icon-twitter" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-facebook-f  mr-3 icon-facebook" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g mr-3 icon-google-plus" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in mr-3 icon-linkedin" style="color:gray"></i></a>
                        </li>
                    </ul>
                </div>

                <!-- Footer Link -->
                <div class="col-lg-4 col-md-5 link">
                    <h4>Core Link</h4>
                    <a href="#">Team Member</a>
                    <a href="#">Pricing Plan</a>
                    <a href="#">Google Map</a>
                    <a href="#">Apps store</a>
                </div>

                <div class="clearfix"></div>

                <!-- Copy Right -->
                <div class="col-lg-6 col-md-6 text-center mb-3">
                    <span class="copyright ">© 2018 All Rights Reserved</span>
                </div>

                <!-- Footer Svg -->
                <div class="footer-svg">
                </div>

            </div>
        </div>
    </div>
</footer>