<header class="masthead">
    <div class="background-image">
        <div class="top-background" style='background-image: url("assets/header/bg-masthead.png")'>
            <div class="container">
                <div class="home">
                    <!-- <div class="row h-100 align-items-center justify-content-center text-center"> -->
                    <h1 class="text-dark">Your Favorite Source of Free</h1>
                    <hr class="divider my-4 ">
                    <p class="text-secondary">Start Bootstrap can help you build better<br> websites using the Bootstrap framework!<br> Just download a theme and start customizing,<br> no strings attached!</p>
                    <div id="zaka">
                        <button class="btn btn-lg  px-5 m-auto button-outline">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>