<section class="page-section" id="blog-card">
    <div class="container">

        <!-- Section Header -->
        <header class="text-center section-header">
            <h3>
                <a href="blog.html"> Our Blog </a>
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </header>

        <!-- Cards -->
        <div class="row">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-offset="150">
                <div class="card mb-5 card-transform">
                    <div>
                        <a href="#">
                            <img src="assets/blog/01.jpg" alt="" class="card-img-top img-blog" />
                        </a>
                    </div>
                    <div class="card-body p-3">
                        <ul class="blog clearfix">
                            <li><i class="flaticon-avatar"></i>Mike smith</li>
                            <li><i class="flaticon-clock"></i>December 25, 2019</li>
                        </ul>
                        <div>
                            <a href="#">
                                <h3 class="card-title mb-3">Better nature for better world</h3>
                            </a>
                        </div>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ...
                        </p>
                        <div class="text-center">
                            <a href="single-post.html" class="blog-card-a">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-offset="150">
                <div class="card mb-5 card-transform">
                    <div>
                        <a href="#">
                            <img src="assets/blog/03.jpg" alt="" class="card-img-top img-blog" />
                        </a>
                    </div>
                    <div class="card-body p-3">
                        <ul class="blog clearfix">
                            <li><i class="flaticon-avatar"></i>Mike smith</li>
                            <li><i class="flaticon-clock"></i>December 18, 2019</li>
                        </ul>
                        <div>
                            <a href="#">
                                <h3 class="card-title mb-3">Better nature for better world</h3>
                            </a>
                        </div>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ...
                        </p>
                        <div class="text-center">
                            <a href="single-post.html" class="blog-card-a">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-offset="150">
                <div class="card mb-5 card-transform">
                    <div>
                        <a href="#">
                            <img src="assets/blog/02.jpg" alt="" class="card-img-top img-blog" />
                        </a>
                    </div>
                    <div class="card-body p-3">
                        <ul class="clearfix">
                            <li><i class="flaticon-avatar"></i>Mike smith</li>
                            <li><i class="flaticon-clock"></i>December 12, 2019</li>
                        </ul>
                        <div>
                            <a href="#">
                                <h3 class="card-title mb-3">Better nature for better world</h3>
                            </a>
                        </div>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ...
                        </p>
                        <div class="text-center">
                            <a href="single-post.html" class="blog-card-a">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>