<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-cont">

                <!-- Footer Contact -->
                <div class="col-lg-4  col-md-5 contact">
                    <img src="assets/other/logo_foter.png" alt="">
                    <ul>
                        <li><i class="flaticon-call"></i>
                            <span> Phone 100-245-4673</span>
                        </li>
                        <li><i class="flaticon-envelope"></i>
                            <span>Email business@exmplae.com</span>
                        </li>
                        <li><i class="flaticon-maps-and-flags"></i>
                            <span>Location Cambridge, MA 02142</span>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter mr-3 icon-twitter" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-facebook-f  mr-3 icon-facebook" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g mr-3 icon-google-plus" style="color:gray"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in mr-3 icon-linkedin" style="color:gray"></i></a>
                        </li>
                    </ul>
                </div>

                <!-- Footer Link -->
                <div class="col-lg-4 col-md-5 link">
                    <h4>Core Link</h4>
                    <a href="#">Team Member</a>
                    <a href="#">Pricing Plan</a>
                    <a href="#">Google Map</a>
                    <a href="#">Apps store</a>
                </div>

                <div class="clearfix"></div>

                <!-- Copy Right -->
                <div class="col-lg-6 col-md-6 text-center mb-3">
                    <span class="copyright ">© 2018 All Rights Reserved</span>
                </div>

                <!-- Footer Svg -->
                <div class="footer-svg">
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Go To Top -->
<a href="#home" id="go-to-top">
    <i class="flaticon-chevron-arrow-up"></i>
</a>