<section class="page-section" id="team">
    <div class="container">

        <!-- Section Header -->
        <header class="section-header mb-5">
            <h3>Our Creative Team</h3>
        </header>

        <!-- Cards -->
        <div class="row">
            <div class="col-lg-3 col-md-6  wow fadeInUp" data-wow-offset="150">
                <div class="card">
                    <img src="assets/team/team1.jpg" alt="" class="card-img-top" />
                    <div class="card-img-overlay">
                        <div class="iner-card-docs ">
                            <div>
                                <a href="#"><i class="fab fa-twitter fa-lg mr-3 icon-twitter-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-facebook-f fa-lg mr-3 icon-facebook-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-google-plus-g fa-lg mr-3 icon-google-plus-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-linkedin-in fa-lg mr-3 icon-linkedin-color-hover"></i></a>
                            </div>
                            <h4>David Smith</h4>
                            <p>Company CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" data-wow-offset="150">
                <div class="card">
                    <img src="assets/team/team2.jpg" alt="" class="card-img-top" />
                    <div class="card-img-overlay">
                        <div class="iner-card-docs ">
                            <div>
                                <a href="#"><i class="fab fa-twitter fa-lg mr-3 icon-twitter-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-facebook-f fa-lg mr-3 icon-facebook-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-google-plus-g fa-lg mr-3 icon-google-plus-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-linkedin-in fa-lg mr-3 icon-linkedin-color-hover"></i></a>
                            </div>
                            <h4>Lucy River</h4>
                            <p>Web Designer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s" data-wow-offset="150">
                <div class="card">
                    <img src="assets/team/team3.jpg" alt="" class="card-img-top" />
                    <div class="card-img-overlay">
                        <div class="iner-card-docs ">
                            <div>
                                <a href="#"><i class="fab fa-twitter fa-lg mr-3 icon-twitter-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-facebook-f fa-lg mr-3 icon-facebook-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-google-plus-g fa-lg mr-3 icon-google-plus-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-linkedin-in fa-lg mr-3 icon-linkedin-color-hover"></i></a>
                            </div>
                            <h4>Randy Crishen</h4>
                            <p>Marketing Specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" data-wow-offset="150">
                <div class="card">
                    <img src="assets/team/team4.jpg" alt="" class="card-img-top" />
                    <div class="card-img-overlay">
                        <div class="iner-card-docs ">
                            <div>
                                <a href="#"><i class="fab fa-twitter fa-lg mr-3 icon-twitter-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-facebook-f fa-lg mr-3 icon-facebook-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-google-plus-g fa-lg mr-3 icon-google-plus-color-hover"></i></a>
                                <a href="#"><i
                                        class="fab fa-linkedin-in fa-lg mr-3 icon-linkedin-color-hover"></i></a>
                            </div>
                            <h4>Stella Alvara</h4>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>