<section class="page-section" id="about">
    <div class="container">
        <div class="row d-flex justify-content-between">

            <!-- About Content -->
            <div class="about-content col-lg-6">
                <h2 class="mb-4">
                    About us
                </h2>
                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <ul>
                    <li><i class="fas fa-check"></i>We are providing different services</li>
                    <li><i class="fas fa-check"></i>Profitability is the primary goal of all business</li>
                    <li><i class="fas fa-check"></i>Learn how to growyour Business About Us</li>
                </ul>
                <button class="btn btn-lg button-inline mb-2 mr-2 px-5">Get start</button>
            </div>

            <!-- About Video -->
            <div class="col-lg-6 about-img d-flex justify-content-end">
                <img src="assets/other/about.png" alt="">
                <a class="video-play-button" id="playme" onclick="revealVideo('video','youtube')">
                    <span class="flaticon-media-play-symbol"></span>
                </a>
                <div id="video" class="youtube-video" onclick="hideVideo('video','youtube')">
                    <div class="youtube-video-container">
                        <div class="youtube-video-content">

                            <button onclick="hideVideo('video','youtube')" class="youtube-video-close">
                                Close | ✕
                            </button>
                            <div class="video-container">
                                <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/3_aRFkFeE9U?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>